body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  width: 1120px;
  max-width: 93.33333%;
  margin: 0 auto;  
}

.m-auto{
  margin: 0 auto;
}

.flex{
  display: flex;  
}

.w-30{
  width: 32.142857%;  
}

.w-100{
  width: 100%;  
}

.flex-1{
  flex:1
}

.align-center{
  align-items: center;
}

.align-start{
  align-items: flex-start;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.jumbotron{
  background-color: #F5F7FA;
  height: 474px;
}

.jumbotron-container{
  height: 100%;
}

.jumbotron-container h1{
  margin: 0;
  text-align: left;
  font-size: 3em;
}

.wiso-container h3{
  margin-left: 15px;
}
.text-left{
  text-align:left ;
}

.justify-between{
  justify-content: space-between;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.menu-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.menu-item{
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;  
  font-size: 10px;
}

.menu-item.no-icon{
  height: 19px;
  margin-right: 5px;
}

.menu-item.no-icon span { 
  font-size: 14px;
}

.menu-item p{ 
  font-size: 10px;
}

.action-button{
  border-radius: 22px;
  padding: 9.34px 18.41px;
  background: #023E84;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.action-button.orange{
  padding: 15px 30px;
  font-size: 21px;
  background: #ED751B; 
  width: 220px;
  border-radius: 24px;
}

.action-button.orange span{
  text-align: center;
}

.action-button img{
  margin-right: 5px;
}

.flex-18{
  width: 54.107143%
}

.sm-footer-view{
  display: none;
}

.flex-82{
  width: 45.892857%;
}

.w-60{
  width: 60%;
}

.h-100{
  height: 100%;
}

.flex-reverse{
  flex-direction: row-reverse;
}

.footer-section{
  height: 144px;
  background-color: #023E84;
}

.footer-section .links > a{
  text-decoration: none;
  color: white;
  margin-right: 7px;
}

.card-container{
  border-radius: 13px;
  box-shadow: 0px 2px 5px 0 #cbcad5;
  background-color: white; 
  padding: 28.08px 0; 
}

.card-container .card-content h4{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;  
}

.card-container .card-content p{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;  
}

.hamburger-wrapper{
  margin-right: 15px;
}

.hamburger-text{
  font-size: 10px;
  text-decoration: none;
  line-height: 10px;
}

.jumbotron .teaser img{  
  width:514px; 
  height: auto;  
}

.product-section{
  padding: 80px 0;
}

.product-section img{  
  width:496px; 
  height: auto;
}

.product-section .sm-title{
  color:#ED751B;
  font-size: 15px;
  height: 19px;
}

.product-section .lg-title{
  color:#023E84;
  font-size: 32px;
}

.product-section p{
  font-size: 16px;
}

.mt-0{
  margin-top:0;
}

.mb-0{
  margin-bottom:0;
}

.lg-screen-none{
  display: none !important;
}

.jumbotron .teaser img{  
  width:531.19px;    
} 

.jumbotron .text-statement{
  height: 60.75949% 
}

.jumbotron .text-statement .wiso-container {
  height: 9.72222%
}

.jumbotron .text-statement .wiso-container img {
  width: 163px;
}

.jumbotron .action-button-container{
  height: 16.66666%;
}

.jumbotron .text-statement .header {
  height: 41.66666%;
  flex-wrap: wrap;
}

.card-container img {
  width: 106px;
}

@media (max-width: 992px) {
  .menu-item.no-icon span{
    font-size: 10px;
  }

  .content{    
    max-width: 91.14583%;
  }

  .product-section img{
    width: 320px;
  }

  .footer-section .links > a{
    font-size: 12px;
  }

 }

 @media (max-width: 390px) {
  .product-section .sm-title{
    margin-top: 20px;
  }

 } 

@media (max-width: 768px) {

  
  
  .content{
    width: 700px;
    max-width: 91.14583%;
  }
  .flex-18{
    width:51.42857%
  }

  .flex-82{
    width:48.57143%
  }

  .jumbotron-container h1{
    font-size: 29px;
  }

  .md-screen-none {
    display: none;
  }

  .lg-screen-none{
    display: flex !important;
  }

  .action-button.orange{
    padding: 13.34px 10px;
    font-size: 16px;
  }

  .w-30{
    width: 32.28571%;
  }

  .card-container .card-content p,
  .card-container .card-content h4 {
    width: 140px;
  }

  .product-section img{  
    width:320px; 
    height: auto;
  }

  .md-footer{
    width: 65.85714%;
  }

  .card-container img {
    width: 53px;
  }

 }

@media (max-width: 576px) {
  .jumbotron .text-statement .wiso-container img {
    width: 140px;
  }

  .flex-18.m-auto{
    width: 100%;
  }

  .sm-mobile-screen{
    display: flex;
  }

  .sm-screen-none{
    display: none;
  }

  .sm-footer-view{
    display: flex;
  }
  
  .md-footer, .lg-footer{
    display: none !important;
  }

  .footer-section .flex-18,.flex-82{
    width: 100% !important;
  }

  .jumbotron .flex-18,.flex-82{
    width: 100% !important;
  }

  .jumbotron .teaser img{  
    width: 236px;    
  } 

  .jumbotron .text-statement{
    height: auto;     
  }

  .jumbotron .text-statement .wiso-container {
    height: auto;
    margin:auto;
  }

  .jumbotron .text-statement .header {
    height: auto; 
    margin: 30px auto;   
  }
  
  .h-100{
    height: 100%;
  }

  .jumbotron{
    height: 400px;
  }

  .jumbotron .wrapper{
    flex-direction: column-reverse;
    justify-content: center;
  }

  .jumbotron-container h1 {
    font-size: 24px;
    margin: 15px 0;
    text-align: center;
    width:90%;
    line-height: 32px;
  }

  .jumbotron .action-button-container{
    height: auto;
    margin:auto;
  }

  .action-button.orange{
    padding: 13.34px 0px;
    width:200px;
  }

  .card-topic-header{
    font-size: 24px;
    text-align: center;
  }

  .cards-sm {
    flex-direction: column;
    align-items: center;
  }

  .w-30{
    width: 91.79487%;
    margin: 16px auto;
  }

  .card-container img {
    width: 53px;
    margin: 0 10px
       
  }

  .card-container .card-content p, .card-container .card-content h4{
    font-size: 16px;
    text-align: left;
    margin: auto 0 auto 5px;
    width: 95%;
  }

  .card-container .card-content{ 
    display: flex;
    justify-content: center;
    align-items: flex-start;      
    
  }

  .product-section-sm{
    flex-direction: column;
  }

  .product-section .sm-title,
  .product-section .lg-title,
  .product-section p{
    text-align: center;
  }

  .action-btn-sm{
    margin:auto;
  }

  .product-section {
    padding: 60px 0;
  }

  .product-section img{
    width: 192px;
  }

  .footer-section .links > a {
    width: 46%;
    text-align: left;
    font-size: 14px;
  }

  .flex-wrap{
    flex-wrap: wrap;
    width: 73%;
    line-height: 1.8
  }

}





